.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header h1 {
  font-size: 40px;
}

.Header button {
  height: 45px;
  padding: 8px;
  border-radius: 5px;

  color: white;
  background-color: green;
}
