.Project {
  padding: 20px;
  width: 100%;
}

.Project input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.Project table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.Project th,
.Project td {
  padding: 12px;
  text-align: left;
}

.Project th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.Project tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Project tbody tr:hover {
  background-color: #ddd;
}
