.BaseTable {
  width: 80vw;
  font-family: Arial, sans-serif;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.BaseTable table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.BaseTable th,
.BaseTable td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.BaseTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.BaseTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.BaseTable tr:hover {
  background-color: #ddd;
}
